<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>douchebag</display-name>
  <servlet>
    <servlet-name>DouchebagServlet</servlet-name>
    <servlet-class>com.douchebag.DouchebagServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.douchebag.client.Main</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Action</servlet-name>
    <servlet-class>com.douchebag.server.Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DouchebagServlet</servlet-name>
    <url-pattern>/DouchebagServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/Action</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Library path constants, TODO(lazyboy): Get a better way of handling these -->
  <context-param>
    <param-name>closure_compiler</param-name>
    <param-value>C:\lib\closure\closure-library-read-only\closure\bin\calcdeps.py</param-value>
  </context-param>
  <context-param>
    <param-name>closure_library</param-name>
    <param-value>C:\lib\closure\closure-library-read-only\</param-value>
  </context-param>
  <context-param>
    <param-name>closure_template_java_compiler</param-name>
    <param-value>C:\lib\closure\closure-templates-for-java-latest\</param-value>
  </context-param>
  <context-param>
    <param-name>closure_template_javascript_compiler</param-name>
    <param-value>C:\lib\closure\closure-templates-for-javascript-latest\</param-value>
  </context-param>
</web-app>
